# SQL Relational Database in Python

**아래 링크를 통해 이 노트북을 주피터 노트북 뷰어(nbviewer.jupyter.org)로 보거나 구글 코랩(colab.research.google.com)에서 실행할 수 있습니다.**

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://nbviewer.jupyter.org/github/nhkim55/bigdata_fintech_python/blob/main/code/ch12_sql.ipynb"><img src="https://jupyter.org/assets/share.png" width="60" />주피터 노트북 뷰어로 보기</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/nhkim55/bigdata_fintech_python/blob/main/code/ch12_sql.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />구글 코랩(Colab)에서 실행하기</a>
  </td>
</table>

## sqlite

### 데이터베이스 테이블 만들기

In [1]:
import sqlite3

In [2]:
# con 이라 부르는 접속 객체 만들기
con = sqlite3.connect(':memory:') # RAM에 DB 생성
#con = sqlite3.connect('my_database.db') # 현재 디렉토리에 DB 생성

In [ ]:
# 구글 드라이브 mount
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
# 작업 디렉토리 변경시 해당 경로에 db생성
#import os
#os.chdir('/content/drive/MyDrive/python/data')

In [3]:
# Create a table called sales with four attributes
query = """CREATE TABLE sales
            (customer VARCHAR(20), 
             product VARCHAR(40),
            amount FLOAT,
             date DATE);"""

In [4]:
con.execute(query) # perform SQL commands
con.commit()  # Save(commit) the changes

In [5]:
# insert a few rows of data into the table
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
        ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
        ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
        ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]

In [6]:
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"

In [7]:
con.executemany(statement, data)
con.commit()

In [8]:
# sales 테이블에 질의
cursor = con.execute("SELECT * FROM sales")
# cursor = con.execute("SELECT customer FROM sales WHERE product='Binder'")
# cursor = con.execute("""SELECT customer, date, amount*12 FROM sales 
#                         WHERE (amount>100) & (product='Printer')""")
# cursor = con.execute("SELECT * FROM sales WHERE SUBSTR(customer,1,1)='S'")
rows = cursor.fetchall() # 조회된 결과 모두를 리스트 형태로 변환

In [9]:
rows

[('Richard Lucas', 'Notepad', 2.5, '2014-01-02'),
 ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
 ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
 ('Stephen Randolph', 'Computer', 679.4, '2014-02-20')]

In [10]:
row_counter = 0
for row in rows:
    print(row)
    row_counter += 1
print('Number of rows: {}'.format(row_counter))

('Richard Lucas', 'Notepad', 2.5, '2014-01-02')
('Jenny Kim', 'Binder', 4.15, '2014-01-15')
('Svetlana Crow', 'Printer', 155.75, '2014-02-03')
('Stephen Randolph', 'Computer', 679.4, '2014-02-20')
Number of rows: 4

In [11]:
con.close()

### 테이블에 새 레코드 삽입하기

In [ ]:
import csv
import sqlite3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
input_file = "/content/drive/MyDrive/python/data/supplier_data.csv"

In [ ]:
#con = sqlite3.connect(':memory:') # RAM에 DB 생성
con = sqlite3.connect('Suppliers.db')
c = con.cursor()

In [ ]:
create_table = """CREATE TABLE IF NOT EXISTS Suppliers
                (Supplier_Name VARCHAR(20), 
                Invoice_Number VARCHAR(20),
                Part_Number VARCHAR(20),
                Cost FLOAT,
                Purchase_Date DATE);"""

In [ ]:
c.execute(create_table)
con.commit()

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None) # 입력 파일의 첫 iteration 읽고 값 할당 후 넘김

In [ ]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    c.execute("INSERT INTO Suppliers VALUES (?, ?, ?, ?, ?);", data)
con.commit()

In [ ]:
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
rows

In [ ]:
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

In [ ]:
c.execute("Delete from Suppliers")

In [ ]:
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
rows

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None) # 입력 파일의 첫 iteration 읽고 값 할당 후 넘김

data=[k for k in file_reader]
print(data)

c.executemany("INSERT INTO Suppliers VALUES (?, ?, ?, ?, ?);", data)
con.commit()

In [ ]:
output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()
rows

In [ ]:
con.close()

### 테이블 내 레코드 갱신하기

In [ ]:
import csv
import sqlite3

In [ ]:
input_file = '/content/drive/MyDrive/python/data/data_for_updating.csv'

In [ ]:
con = sqlite3.connect(':memory:')
query = """CREATE TABLE IF NOT EXISTS sales
            (customer VARCHAR(20), 
                product VARCHAR(40),
                amount FLOAT,
                date DATE);"""
con.execute(query)
con.commit()

In [ ]:
data = [('Richard Lucas', 'Notepad', 2.50, '2014-01-02'),
        ('Jenny Kim', 'Binder', 4.15, '2014-01-15'),
        ('Svetlana Crow', 'Printer', 155.75, '2014-02-03'),
        ('Stephen Randolph', 'Computer', 679.40, '2014-02-20')]

In [ ]:
for tuple in data:
    print(tuple)

In [ ]:
statement = "INSERT INTO sales VALUES(?, ?, ?, ?)"
con.executemany(statement, data)
con.commit()

In [ ]:
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)

In [ ]:
data = [k for k in file_reader]
con.executemany("UPDATE sales SET amount=?, date=? WHERE customer=?;", data)
con.commit()

In [ ]:
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute("UPDATE sales SET amount=?, date=? WHERE customer=?;", data)
con.commit()

In [ ]:
cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()

In [ ]:
rows

In [ ]:
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

In [ ]:
con.close()