# Foundations for Analytis with Python

**아래 링크를 통해 이 노트북을 주피터 노트북 뷰어(nbviewer.jupyter.org)로 보거나 구글 코랩(colab.research.google.com)에서 실행할 수 있습니다.**

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://nbviewer.jupyter.org/github/nhkim55/bigdata_fintech_python/blob/main/code/ch1_basic.ipynb"><img src="https://jupyter.org/assets/main-logo.svg" width="28" />주피터 노트북 뷰어로 보기</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/nhkim55/bigdata_fintech_python/blob/main/code/ch1_basic.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />구글 코랩(Colab)에서 실행하기</a>
  </td>
</table>

## 1. 파이썬 문법

### 들여쓰기
기존의 언어

In [ ]:
# 실행되지 않는 예제코드이니 실행하지 마세요. 
for x in array {    
    if x < pivot{        
        less.append(x)        
    } else {        
        greater.append(x)        
    }    
}

파이썬

In [ ]:
# 실행되지 않는 예제코드이니 실행하지 마세요. 
for x in array:    
    if x < pivot:        
        less.append(x)        
    else:        
        greater.append(x)

### 함수 호출

result=f(x,y,z)

g()

### 메서드 호출

obj.some_method(x,y,z)

### 변수와 참조에 의한 전달

In [1]:
a = [1, 2, 3]

In [2]:
b = a

In [3]:
a.append(4)

In [4]:
b

[1, 2, 3, 4]

In [5]:
def append_element(some_list, element):
    some_list.append(element)

In [6]:
data =[1, 2, 3]

In [7]:
append_element(data, 4)

In [8]:
data

[1, 2, 3, 4]

### 속성과 메서드

In [1]:
a='foo'

In [2]:
a.upper()

'FOO'

In [3]:
a.count('o')

2

In [ ]:
dir(a)

### 이항연산자와 비교문

In [17]:
5 - 7

-2

In [18]:
11 + 21.5

32.5

In [19]:
5 <= 2

False

In [20]:
3!=3

False

In [21]:
a = [1, 2, 3]

In [22]:
b = a

list 함수는 새로운 리스트 생성

In [23]:
c = list(a)

In [24]:
a is b

True

In [25]:
a is not c

True

In [26]:
a == c

True

In [27]:
7%5

2

### 뮤터블, 이뮤터블 객체

In [28]:
a_list = ['foo', 2, [4 ,5]]

In [29]:
a_list[2] = (3, 4)

In [30]:
a_list

['foo', 2, (3, 4)]

Others, like strings and tuples, are immutable

In [31]:
a_tuple = (3, 5, (4, 5))

In [32]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

## 2. 파이썬 자료형 - 스칼라형

### 숫자 자료형

int

In [9]:
ival = 1723897

In [10]:
ival**6

26246287594448069309152190229646704529

float

In [11]:
fval = 7.243

In [12]:
fval2 = 6.78e-5

In [13]:
3 / 2

1.5

In [14]:
3 // 2

1

In [15]:
cval = 1 + 2j

In [16]:
cval*(1-2j)

(5+0j)

### 문자열

In [41]:
a = 'one way of writing a string'

In [42]:
b = "another way"

여러 줄에 걸친 문자열

In [17]:
c = """This is a longer string that
spans multiple lines"""

In [18]:
d = "this is \ta logner string"

In [21]:
print(d)

this is 	a logner string

문자열은 변경 불가

In [22]:
a = 'this is a string'

In [23]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [24]:
b = a.replace('string', 'longer string')

In [25]:
b = a[:10]+'f'+ a[11:]

In [50]:
b

'this is a ftring'

In [51]:
a.replace('string', 'longer string')

'this is a longer string'

문자열 변환

In [53]:
a = 5.6

In [54]:
s = str(a)

In [55]:
s

'5.6'

문자열은 일련된 글자의 연속이며 리스트나 튜플 같은 순차적 자료형과 같이 취급

In [28]:
s = 'python'

In [29]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [30]:
s[:3]

'pyt'

이스케이프 문자 역슬래시(\\)

In [31]:
s = '12\\34'

In [32]:
print(s)

12\34

In [33]:
s = r'this\has\no\special\characters'

In [34]:
s

'this\\has\\no\\special\\characters'

두 문자열 이어붙이기

In [35]:
a = 'this is the first half '

In [36]:
b = 'and this is the second half'

In [65]:
a + b

'this is the first half and this is the second half'

문자열 템플릿(형식)

In [66]:
template = '%.2f %s are worth $%d'

In [67]:
template%(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

In [68]:
print('%.2f %s are worth $%d' %(4.5560,'Argentine Pesos', 1))

4.56 Argentine Pesos are worth $1

format 함수 이용

In [69]:
'{0:0.2f} {1} are worth {2}'.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth 1'

### 불리언

In [70]:
True and True

True

In [71]:
False or True

True

In [72]:
a = [1, 2, 3]
if a:
    print('I found something!')

I found something!

In [73]:
b = []
if not b:
    print('Empty')

Empty

bool 함수를 통해 True, False 확인 가능

In [74]:
bool([]), bool([1, 2, 3])

(False, True)

In [75]:
bool('Hello world!'), bool('')

(True, False)

In [76]:
bool(0), bool(1)

(False, True)

In [77]:
bool(0)^bool(1)

True

In [78]:
bool(1)^bool(1)

False

In [79]:
bool(0)^bool(0)

False

In [80]:
True ^ False

True

In [81]:
1|1

1

In [82]:
3|5

7

In [83]:
5&3

1

### 형 변환

str, bool, int, float 형변환 함수

In [84]:
s = '3.14159'

In [85]:
fval = float(s)

In [86]:
type(fval)

float

In [87]:
int(fval)

3

In [88]:
bool(fval)

True

### None

파이썬에서 사용하는 null값

In [89]:
a = None

In [90]:
a is None

True

In [91]:
b = 5

In [92]:
b is not None

True

함수의 옵션 인자의 기본값으로 흔히 사용

In [93]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
                
    return result

In [94]:
c = add_and_maybe_multiply(3,5)

In [95]:
c

8

### 날짜와 시간

파이썬 내장 datetime 모듈은 datetime, date, time형 지원

In [96]:
from datetime import datetime, date, time

In [97]:
dt = datetime(2018, 12, 20, 13, 30, 21)

In [98]:
dt.day

20

In [99]:
dt.minute

30

datetime 인스턴스에서 date 메서드와 time 메서드 사용해서 해당 datetime의 날짜와 시간 추출

In [100]:
dt.date()

datetime.date(2018, 12, 20)

In [101]:
dt.time()

datetime.time(13, 30, 21)

strftime 메서드 : datetime을 문자열로

In [102]:
dt.strftime('%m/%d/%y %H:%M')

'12/20/18 13:30'

strptime 함수 : 문자열을 해석하여 datetime 객체로

In [103]:
datetime.strptime('20181225', '%Y%m%d')

datetime.datetime(2018, 12, 25, 0, 0)

replace 메서드 : datetime 필드 치환

In [104]:
dt.replace(minute=0, second=0)

datetime.datetime(2018, 12, 20, 13, 0)

datetime.timedelta 객체 : 두 datetime 객체의 차

In [105]:
dt2 = datetime(2018, 12, 27, 16, 30)

In [106]:
delta = dt2 - dt

In [107]:
delta

datetime.timedelta(days=7, seconds=10779)

In [108]:
type(delta)

datetime.timedelta

In [109]:
dt + delta

datetime.datetime(2018, 12, 27, 16, 30)

## 3.파이썬 자료형 - 자료구조와 순차 자료형

### 튜플
1차원의 고정된 크기를 가지는 변경이 불가능한 순차 자료형

쉼표로 구분된 값 대입

In [113]:
tup = 4, 5, 6

In [114]:
tup

(4, 5, 6)

괄호를 사용해서 값을 묶어줌으로써 중첩된 튜플 정의

In [115]:
nested_tup = (4, 5, 6), (7, 8)

In [116]:
nested_tup

((4, 5, 6), (7, 8))

tuple 메서드 통해 변환

In [117]:
tuple([4, 0, 2])

(4, 0, 2)

In [118]:
tup = tuple('string')

In [119]:
tup

('s', 't', 'r', 'i', 'n', 'g')

대괄호 [ ]이용해서 색인

In [120]:
tup[0]

's'

튜플에 저장된 객체 자체는 변경 가능하지만 한번 생성이 되면 각 슬롯에 저장된 객체를 변경하는 것은 불가능

In [63]:
tup = tuple(['foo', [1, 2], True])

In [122]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [65]:
a=[1,2,3];t=tuple([a,'f',True])

In [66]:
t

([1, 2, 3], 'f', True)

In [67]:
a=[1,2,3,4]

In [69]:
enumerate(a)

다음 처럼 사용하면 실행가능

In [123]:
tup[1].append(3)

In [124]:
tup

('foo', [1, 2, 3], True)

튜플 이어 붙이기

In [125]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

튜플 복사

In [126]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### 튜플에서 값 분리하기

In [127]:
tup = (4, 5, 6)

In [128]:
a, b, c = tup

In [129]:
b

5

In [130]:
tup = 4, 5, (6, 7)

In [131]:
a, b, (c, d) = tup

In [132]:
d

7

변수의 이름을 바꿀 때 쉽게 변경 가능

In [133]:
a, b

(4, 5)

In [134]:
a, b = b, a

In [135]:
a, b

(5, 4)

다른 언어에서는 다음처럼 처리

In [136]:
tmp = a
a = b
b = tmp

#### 튜플 메서드

튜플의 크기와 내용은 변경이 불가능하므로 인스턴스 메서드도 많지 않음

In [137]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### 리스트
튜플과는 대조적으로 리스트는 크기나 내용의 변경이 가능

대괄호 [ ]나 list 함수 사용해서 생성

In [138]:
a_list = [2, 3, 7, None]

In [139]:
tup = ('foo', 'bar', 'baz')

In [140]:
b_list = list(tup)

In [141]:
b_list

['foo', 'bar', 'baz']

In [142]:
b_list[1] = 'peekaboo'

In [143]:
b_list

['foo', 'peekaboo', 'baz']

#### 원소 추가하고 삭제하기

In [144]:
b_list.append('dwarf')

In [145]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [146]:
b_list.insert(1, 'red')

In [147]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [148]:
b_list.pop(2)

'peekaboo'

In [149]:
b_list

['foo', 'red', 'baz', 'dwarf']

삭제(remove)는 리스트 제일 앞에 위치한 값부터 이루어짐

In [150]:
b_list.append('foo')

In [151]:
b_list.remove('foo')

In [152]:
b_list

['red', 'baz', 'dwarf', 'foo']

in 예약어를 사용해서 리스트에 어떤 값이 있는지 검사

In [153]:
'dwarf' in b_list

True

#### 리스트 이어붙이기

In [154]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [155]:
x = ['4', None, 'foo']

In [156]:
x.extend([7, 8, (2, 3)])

In [157]:
x

['4', None, 'foo', 7, 8, (2, 3)]

#### 정렬
sort 함수 이용

In [158]:
a = [7, 2, 5, 1, 3]

In [159]:
a.sort()

In [160]:
a

[1, 2, 3, 5, 7]

In [161]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [162]:
b.sort(key=len)

In [163]:
b

['He', 'saw', 'six', 'small', 'foxes']

#### 슬라이싱
리스트와 같은 자료형(배열, 튜플, ndarray)은 색인 연산자 [ ] 안에 start:stop 지정해서 원하는 크기만큼 잘라낼 수 있음

In [16]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [17]:
seq[1:5]

[2, 3, 7, 5]

In [18]:
seq[3:4] =[[6, 3, 1]]

In [19]:
seq

[7, 2, 3, [6, 3, 1], 5, 6, 0, 1]

In [174]:
seq[:5]

[7, 2, 3, 6, 3]

In [175]:
seq[3:]

[6, 3, 1, 5, 6, 0, 1]

In [176]:
seq[-4:]   # 음수 색인은 끝에서부터의 위치

[5, 6, 0, 1]

In [177]:
seq[-6:-2]

[3, 1, 5, 6]

In [178]:
seq[::2]

[7, 3, 3, 5, 0]

In [179]:
seq[::-1]  # 역순으로 변환

[1, 0, 6, 5, 1, 3, 6, 3, 2, 7]

### 내장 순차 자료형 함수

#### sorted
정렬된 새로운 순차 자료형 반환

In [185]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [186]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip
여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트 생성

In [76]:
seq1 = ['foo', 'bar', 'baz']

In [77]:
seq2 = ['one', 'two', 'three']

In [78]:
zip(seq1, seq2)

In [79]:
seq3 = [False, True]

In [80]:
zip(seq1, seq2, seq3)

In [81]:
for i, (a, b) in enumerate(zip(seq1, seq3)):
    print('%d: %s, %s'%(i,a, b))

0: foo, False
1: bar, True

#### reversed
순차 자료형을 역순으로 순회

In [193]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 사전(dict 딕셔너리)
유연한 크기를 가지는 키-밸류 상으로 키와 값 모두 파이썬 객체

중괄호 { }를 사용하여 콜론으로 구분된 키와 값을 둘러싸서 생성

In [326]:
empty_dict = {}

In [327]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [328]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [329]:
d1[7] = 'an integer'

In [330]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [331]:
d1['b']

[1, 2, 3, 4]

In [332]:
'b' in d1  # 사전에 어떤 키가 있는지 확인

True

사전 값 삭제

In [333]:
d1[5] = 'some value'

In [334]:
d1['dummy'] = 'another value'

In [335]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [336]:
del d1[5]

In [337]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [338]:
ret = d1.pop('dummy')

In [339]:
ret

'another value'

In [343]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [344]:
d1.keys()  # 키가 담긴 리스트 반환

dict_keys(['a', 'b', 7])

In [342]:
d1.values()  # 값이 담긴 리스트 반환

dict_values(['some value', [1, 2, 3, 4], 'an integer'])

update 메서드: 다른 사전과 합치기

In [210]:
d1.update({'b': 'foo', 'c': 12})

In [211]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### 순차 자료 구조에서 사전 생성

In [212]:
key_list = range(5)
value_list = range(10,20,2)
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [213]:
mapping

{0: 10, 1: 12, 2: 14, 3: 16, 4: 18}

In [214]:
mapping = dict(zip(range(5), reversed(range(5))))

In [215]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### 기본 값

In [ ]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

위의 코드는 아래의 get 메서드를 사용하여 간단히 표현 가능

In [ ]:
value = some_dict.get(key, default_value)

여러 단어를 시작 글자에 따라 사전에 리스트로 저장하는 예제

In [216]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [217]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [218]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

In [219]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [220]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

#### 유효한 사전 키
사전의 값은 어떤 파이썬 객체라도 사용할 수 있지만 키는 스칼라형(정수, 실수, 문자열)이나 튜플처럼 값이 바뀌지 않는 객체만 사용

In [82]:
hash('string')

-7399357071172642267

In [83]:
hash((1,2,(2,3)))

1097636502276347782

In [84]:
hash((1,2,[2,3]))  # 리스트는 값이 바뀔 수 있으므로 에러

TypeError: unhashable type: 'list'

In [224]:
d = {}

In [225]:
d[tuple([1,2,3])]=5

In [226]:
d

{(1, 2, 3): 5}

### 세트
유일한 원소만 담는 정렬되지 않은 자료형

set 함수나 중괄호 { } 이용

In [227]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [228]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [229]:
a = {1, 2, 3, 4, 5}

In [230]:
b = {3, 4, 5, 6, 7, 8}

In [231]:
a | b  # 합집합 (or)

{1, 2, 3, 4, 5, 6, 7, 8}

In [232]:
a & b  # 교집합 (and)

{3, 4, 5}

In [233]:
a - b  # 차집합

{1, 2}

In [234]:
a ^ b  # 대칭차집합 (xor)

{1, 2, 6, 7, 8}

In [235]:
a_set = {1, 2, 3, 4, 5}

In [236]:
{1, 2, 3}.issubset(a_set)

True

In [237]:
a_set.issuperset({1, 2, 3})

True